
.start{
    position: absolute;
    height: 450px;
    width: 450px;
    margin: 0;
    padding: 0;
    background: radial-gradient( #274C3A, #122020);
    border: 55px solid #F1B487;
    border-left: 40px solid #F1B487;
    border-right: 40px solid #F1B487;
    border-radius: 22px;
    box-shadow: 5px 10px 25px black;
    left: 37%;
    top: 200px;
}

.nav{
    position: relative;
    width: 300px;
    height: 60px;
    display: inline-block;
    left: 15%;
    color: white;
    
}

a{
    color: #D9DDDC;
    font-size: 30px;
    display: inline;
    margin-left: 10px;
    position: relative;
    top: 30px;
    text-decoration: none;
}
a:hover{
    border: 2px dashed #D9DDDC;
    border-radius: 10px;
    color: white;
}



p{
    color: #D9DDDC;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 20px;
    font-family: 'Long Cang', cursive;
}

@media screen and (max-width: 680px )
{
    .start{
        left: 5%;
        border: 27px solid #F1B487;
        border-left: 20px solid #F1B487;
        border-right: 20px solid #F1B487;
    }
}
