
.start{
    position: absolute;
    height: 450px;
    width: 450px;
    margin: 0;
    padding: 0;
    background: radial-gradient( #274C3A, #122020);
    border: 55px solid #F1B487;
    border-left: 40px solid #F1B487;
    border-right: 40px solid #F1B487;
    border-radius: 22px;
    box-shadow: 3px 6px 20px black;
    
    left: 37%;
    top: 200px;
}



.li-3{
    position: absolute;
    height: 40px;
    width: 2px;
    background-color: #AE744E;
    border: 2px #AE744E;
    left: 133px;
    top: -39px;
}

.li-v1{
    position: absolute;
    height: 2px;
    width: 90%;
    border: 2px white;
    background-color: white;
    margin-top: 150px;
    margin-left: 25px;
    z-index: 1000;
}


.li-v2{
    position: absolute;
    height: 2px;
    width: 90%;
    border: 2px white;
    background-color: white;
    margin-top: 300px;
    margin-left: 25px;
    z-index: 1000;
}

.li-h1{
    position: absolute;
    height: 90%;
    width: 2px; 
    border: 2px white;
    background-color: white;
    margin-left: 150px;
    margin-top: 25px;
    z-index: 1000;

}

.li-h2{
    position: absolute;
    height: 90%;
    width: 2px; 
    border: 2px white;
    background-color: white;
    margin-left: 300px;
    margin-top: 25px;
    z-index: 1000;

}


.title{
    height: 60px;
    width: 200px;
    position: relative;
    background-color: #00C8C8;
    text-align: center;
    top: 125px;
    left: 38%;
}

h3{
    color: white;
    position: relative;
    top: 18px;
}

a{
    font-size: 32px;
    position: absolute;
    color:#AE744E;
    top: -40px;
    right: 2px;
    text-decoration: none; 
    font-family: 'Long Cang', cursive;
}


.pl1{
    font-size: 25px;
    top: -60px;
    display: inline;
    position: absolute;
    left: 45px;
    color: #AE744E;
    font-family: 'Long Cang', cursive;
}

.pl2{
    font-size: 25px;
    top: -60px;
    left: 150px;
    display: inline;
    position: absolute;
    color: #AE744E;
    font-family: 'Long Cang', cursive;
}

.pt1{
    font-size: 25px;
    display: inline;
    position: absolute;
    top: -85px;
    left: 55px;
    color: #AE744E;
    font-family: 'Long Cang', cursive;
}

.pt2{
    font-size: 25px;
    display: inline;
    position: absolute;
    top: -85px;
    left: 160px;
    color: #AE744E;
    font-family: 'Long Cang', cursive;
}

@media screen and (max-width: 680px )
{
    .start{
        left: 0%;
        border: 27px solid #F1B487;
        border-left: 20px solid #F1B487;
        border-right: 20px solid #F1B487;
    }
}
