body{
    padding: 0;
    margin: 0;
}

.name{
    color: white;
    position: relative;
    left: 10%;
    z-index: 1000;
}

.menu{
    position: relative;
    left: 70%;
    top: 20px;
    z-index: 1000;
}

.m-a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 20px;
}

.img-1{
    position: relative;
    top: -80px;
}

.wel{
    z-index: 1000;
    position: absolute;
    top: 300px;
    left: 400px;
    font-size: 80px;
    color: white;

}

.propos-img{
    position: relative;
    left: 280px;
}
.propos-menu{
    position: relative;
    display: inline-block;
    left: 45%;
    top: 250px;
}
.propos{
    height: 650px;
}

.subtitle1{
    position: relative;
    left: 30px;
}

.plus-a{
    text-decoration: none;
}

.exploit-title{
    position: relative;
    top: 250px;
    left: 40%;

}

.exploits-content{
    position: relative;
    top: 10px;
}

.div1{
    float: left;
    top: 320px;
    position: relative;
    left: 25%;
}

.img3{
    position: relative;
    margin-left: 30px;
}

.hobbies{
    position: relative;
    top: 100px;
}

.hobbies-title{
    position: relative;
    top: 740px;
}

.hobbies-content{
    position: relative;
    left: -400px;
    top: 800px;
}

.p5{
    position: relative;
    top: -10px;
    left: 25px;
}


.div2{
    float: left;
}

.img{
   margin-left: 10px;
   margin-top: 10px;
}

.bio{
    position: relative;
    top: 1000px;
}

.bio-img{
    position: relative;
    left: 1200px;
}

.bio-h1{
    position: relative;
    left: 300px;
    top: 200px;
}

.bio-dex{
    position: relative;
    top: 250px;
    left: 80px;
}

