body{
    margin: 0px;
    padding: 0px;
    
}
body{
    margin: 0px;
    padding: 0;

}

/*   l'entete de la page  */

header{
    position: relative;
    top: -20px;
    height: 900px;
    width: 100%;
    background: no-repeat ;
}

.header-img{
    position: relative;
    top: -10px;
    margin-left: 20px;
}

.header-nav{
    top: 40px;
    height: 200px;
    width: 100%;
    position: relative;
    
}

.menu{
    position: relative;
    text-decoration: none;
    top: -850px;
    color: white;
    font-weight: 800;
    margin-left: 50px;

}

.btn1{
    height: 40px;
    width: 140px;
    border-radius: 15px;
    border: none;
    background-color: #F97C80;
}

.nav-content{
    color: royalblue;

}

.nav-menu{
    position: relative;
    left: 60%;
    color: royalblue;
    text-decoration: none;
}

.section1-p{
    position: relative;
    top: -100px;
}

.header-p{
    position: relative;
    top: -600px;
    display: inline-block;
    left: 30%;
}

.header-description , .header-subtitle{
    color: white;
    font-weight: 700;
}

.btn1{
    color: white;
    position: relative;
    left: 35%;
    top: 30px;
    font-weight: 700;
}


/*   fond de l'entete  */


/*  debut du corps  */

.section1-title{
    color: #F97C80;
    font-size: 35px;
    text-align: center;
    top: 150px;
    position: relative;

}

.ligne1{
    width: 30px;
    height: 4px;
    background-color: #F97C80;
    position: relative;
    top: 150px;
    left: 49%;
}

.section1{
    width: 100%;
    height: 300px;
}

.section1-p{
    position: relative;
    top: 180px;
    text-align: center;
}

.img1-p{
    font-size: 15px;
    color: white;
    position: relative;
    top: -100px;
    margin-left: 20px;
}

.section2-title{
    color: #F97C80;
    font-size: 35px;
    text-align: center;
    top: 150px;
    position: relative;
}

.section2{
    width: 100%;
    height: 1000px;
}

.section2-content1{
    height: 650px;
    width: 1000px;
    position: relative;
    top: 200px;
    left: 450px;


}
.img1{
    position: relative;
    display: inline;
    float: left;
    margin-left: 15px;
}

.bloc2{
    position: relative;
    top: -20px;
    display: inline-block;
}

.que-faire{
    height: 200px;
    width: 100%;
}

.b , .p1 {
    text-align: center;
}

.b{
    top: -100px;
    color: #F97C80;
}

.section3-content{
    height: 700px;
    width: 1000px;
    position: relative;
    top: -20px;
    left: 450px;
}

.img{
    position: relative;
    display: inline;
    float: left;
    margin-left: 15px;
}

.c{
    text-align: center;
    color: #F97C80;
    top: -50px;
    position: relative;
}

.video{
    height: 350px;
    width: 100%;
    color: black;
}

.video-content1{
    height: 317px;
    width: 1000px;
    position: relative;
    left: 450px;
    top: 40px;

}

.iframe{
    display: inline;
    position: relative;
    margin-left: 10px;
}

.img3{
    position: relative;
    top: 200px;
}

.atout{
    top: -50px;
    position: relative;
    color: #F97C80 ;
    text-align: center;
}

.dex{
    text-align: center;
    color: black;
    z-index: 1000;
    top: -30px;
    position: relative;
}

.section6-content{
    height: 700px;
    width: 1000px;
    position: relative;
    left: 450px;
    top: 390px;
}

.section6-title{
    color: #F97C80 ;
    text-align: center;
    position: relative;
    top: 300px;
    
}

.img4{
    position: relative;
    display: inline;
    margin-left: 15px;
    float: left;
}

.bloc5{
    display: inline;
}

.footer-container{
    width: 100%;
    height: 300px;
    position: relative;

    top: 420px;
}

.footer-title{
    color: #F97C80;
    text-align: center;
}

.socio{
    width: 800px;
    position: relative;
    top: 75px;
    left: 650px;
}

.socio-img{
    margin-left: 20px;
}

.mapp{
    position: relative;
    top: 500px;
}