
header{

    height: 80px;
    width: 100%;
}


.nav-menu{
    position: relative;
    color: royalblue;
    left: 46%;
    top:20px;
}

.carousel-item , .carousel-inner{
    height: 900px;
    width: 100%;
}

.menu{
    position: relative;
    text-decoration: none;
    font-weight: 800;
    margin-left: 50px;
}
.img1{
    position: relative;
    top: 100px;
    left: 25px;
    margin: 0px;
    padding: 0px;
}

.container2{
    width: 445px;
    height: 450px;
    position: relative;
    display: inline-block;
    top: -450px;
    z-index: 1000;
    left: 5px;
    background-color: rgb(90, 90, 248);
    opacity: 0.3;
}


.container-img{
    height: 450px;
    width: 900px;
    top: -100px;
    left: -2%;
    position: relative;
    display: inline-block;

}

.title{
    position: relative;
    color: white;
    top: -800px;
    left: 650px;
    
}

.dex{
    position: relative;
    color: white;
    top: -750px;
    left: 700px;
}
.container-content{
    position: relative;
    height: 500px;
    width: 910px;
    left: 15%;
    top: 100px;
    
}

.img2{
    position: relative;
    top: 500px;
    left: -100px;
}

.section1-img{
    position: relative;
    top: 50px;
    left: 35%;
}

.container-section2{
    position: relative;
    height: 400px;
    width: 100%;
    margin: 40px;
}

.section2-title{
    position: relative;
    text-align: center;

    color: #818181;


}

.section2-p{
    color: #818181;
    position: relative;
    margin: 40px;
}

.section2-p2{
    position: relative;
    margin: 40px;
}

.iframe-video{
    position: relative;
    left: 13%;
    top: -400px;
}

.iframe-title{

    position: relative;
    top: -500px;
    z-index: 1000;
    color: #818181;
    left: 36%;
}

.section3{
 
    height: 650px;
    width: 1000px;
    position: relative;
    top: 50px;
    left: 450px;
}

.section3-title{
    color: #818181;
    text-align: center;
}

.img3{

    position: relative;
    display: inline;
    float: left;
    margin-left: 15px;
    margin-top: 20px;

}
.bloc1{
    position: relative;
    display: inline-block;
    float: left;
    top: 50px;
}

.bloc2{
    position: relative;
    top: 30px;
}

.img4{
    position: relative;
    top: 300px;
}

.pi-content{
    position: relative;
    top: 600px;
    color: #818181;
    left: -500px;
    top: 700px;
    display: inline;
}

.s{
    position: relative;
    top: 200px;
}

.serpent-content{
    position: relative;
    top: 160px;
    color: #818181;
    left: 30px;
}

.footer-container{
    width: 100%;
    height: 300px;
    position: relative;

    top: 420px;
}

.footer-title{
    color: #818181;
    text-align: center;
    top: 1700px;
    position: relative;
    left: -470px;
}

.socio{
    width: 800px;
    position: relative;
    top: 75px;
    left: 650px;
}

.socio-img{
    margin-left: 20px;
    position: relative;
    left: -20px;
    top: -200px;
}

.iframe{
    position: relative;
    top: 400px;
}

.mapp{
    position: relative;
    top: 500px;
}

