body{
    background: #ecf4fc;
}

.img1{
    position: relative;
    left: 200px;
}

input{
    height: 30px;
    width: 200px;
    border-radius: 2px;
    border: 1px solid #2d7dce;
    position: relative;
    left: 1500px;
    top: -50px;
}

.header-content2{
    position: relative;
    float: left;
}

.img2{
    position: relative;
    left: 1470px;
    top: -40px;
}

.header-menu{
    width: 100%;
    height: 40px;
    background-color: #000a52;
}

.a2{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    position: relative;
    top: 10px;
    left: 100px;
    
}

.header-menu{
    position: relative;
}

.a3{
    color: #2d7dce;
    margin-left: 25px;
    text-decoration: none;
    position: relative;
    top: 10px;
    left: 500px;
}
.header-menu2{
    width: 100%;
    height: 40px;
    position: relative;
    border-bottom: 1px solid #2d7dce;
}

.bul{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: -10px;
}

.p-bul{
    font-size: 10px;
    color: white;
    text-align: center;
    position: relative;
    top: 10px;
    font-weight: 900;
}
.bul1{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: yellow;
    position: relative;
    top: -140px;
}

.p-bul1{
    text-align: center;
    font-weight: 900;
    color: black;
    position: relative;
    font-size: 10px;
    top: 20px;
}


.img3{
    position: relative;
    left: 550px;
    top: 5px;
}

.img4{
    position: relative;
    left: -400px;
    top: -140px;
}

.img5{
    top: -140px;
    position: relative;
    left: 650px;
}

.section1{
    background-color: #f8fcfc;
}

.content2-item{
    position: relative;
    left: 550px;
    top: -280px;
}

.div1{
    float: left;
    margin-left: 25px;
}

.sub{
    position: relative;
    top: -15px;
}

.sub2{
    position: relative;
    color: #2d7dce;
    display: inline;
    top: -60px;
    left: 250px;
}

.content2-plus{
    top: 100px;
    position: relative;
    left: -430px;
}

.div3{
    float: left;
    position: relative;
    left: 1225px;
    top: -278px;
}
.img7{
    position: relative;
    

}
.div2{
    float: left;
    margin-left: 25px;
}



.section2-content1{
    position: relative;
    left: 300px;
    top: 100px;
}

.content1-items{
    position: relative;
    top: 60px;
}

.item12{
    background-color: #2d7dce;
    display: inline-block;
    height: 30px;
    width: 120px;

}

.p12{
    color: white;
    position: relative;
    top: -10px;
}

.p1{
    color: #2d7dce ;
}

.content3-item{
    position: relative;
    top: 250px;
    left: 100px;
}

.section3-title{
    position: relative;
    top: 550px;
    left: -1000px;
}

.sub3{
    position: relative;
    color: #2d7dce;
    display: inline;
    top: -60px;
    left: 180px;
}

